@using ShugyopediaApp.Services.ServiceModels;
@{
    ViewData["Title"] = "Rating";
}
@model List<RatingViewModel>

<main>
    <div class="container-fluid">
        <h1 class="text-center">
            Training Ratings:<select name="training_ratings" id="training_ratings">
                <option value="python">Python Basics</option>
                <option value="html">HTML</option>
            </select>
        </h1>
        @await Component.InvokeAsync("Filter")
        <div class="card my-3">
            <div class="card-body">
                <table class="table table-striped table-hover table-borderless text-center my-3" id="datatable">
                    <thead class="table-info">
                        <tr>
                            <th>Training Name</th>
                            <th>Rate</th>
                            <th>Rating Review</th>
                            <th>Rater's Name</th>
                            <th>Rater's Email</th>
                            <th>Created Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rating in (IEnumerable<RatingViewModel>)Model)
                        {
                            <tr>
                                <td>@rating.TrainingName</td>
                                <td>@rating.Rate</td>
                                <td>@rating.RatingReview</td>
                                <td>@rating.RaterName</td>
                                <td>@rating.RaterEmail</td>
                                <td>@rating.CreatedTime</td>
                                <td>
                                    <a class="btn btn-danger" data-bs-toggle="modal"
                                       data-bs-target="#delete-@rating.RaterName">&#128465;</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- DELETE MODAL -->
<!-- Modal -->
@foreach (var rating in (IEnumerable<RatingViewModel>)Model)
{
    <div class="modal fade" id="delete-@rating.RaterName" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete @rating.TrainingName?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-5 text-center">Are you sure you want to delete this Rating?</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-success mx-3" data-bs-dismiss="modal">Cancel</button>
                        <form asp-controller="Rating" asp-action="DeleteRating" method="post">
                            <input type="hidden" name="ratingName" id="ratingName" value="@rating.RaterName" />
                            <input type="submit" name="delete" id="delete" value="Delete" class="btn btn-danger mx-3" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
