@using ShugyopediaApp.Services.ServiceModels;
@{
    ViewData["Title"] = Model["CategoryName"];
}
@model Dictionary<string, object>
<!-- MAIN BODY -->
@Html.Partial("TopNavBar.cshtml")
<main class="main-con">
    <div class="allTrainings-container">
        <h1>@Model["CategoryName"]</h1>
        <div class="search-container">
            <form action="" method="POST">
                <input type="search" name="search" id="search" class="search-input" placeholder="Search Training...">
                <button type="submit" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>

    <!-- TOPICS -->
    <div class="container">
        <div class="row my-5">
            @foreach (var training in (IEnumerable<TrainingViewModel>)Model["Trainings"])
            {
                <div class="col-4">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="topic-img-container">
                            <a asp-controller="@training.TrainingName" asp-action="Index"><img src="@training.TrainingImage" class="img-fluid topic-img" alt=""></a>
                        </div>
                        <p class="fs-5">@training.TrainingName</p>
                        <p class="ratings" id="ratings">@training.RateAverage</p>
                        <a class="btn btn-primary" href="topic.html">DOWNLOAD RESOURCES</a>
                    </div>
                </div>
            }
        </div>
    </div>
</main>