@using ShugyopediaApp.Services.ServiceModels;
@{
	ViewData["Title"] = "Users";
}
@model List<UserViewModel>
<main>
    <div class="container-fluid">
        <h1 class="text-center">Users</h1>
        <div class="d-flex justify-content-between">
            <a class="btn btn-success" asp-action="AddUser" asp-controller="User">+Add User</a>
        </div>
        <div class="card my-3">
            <div class="card-body">
                <table class="table table-striped table-hover table-borderless text-center my-3" id="datatable">
                    <thead class="table-info">
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.UserId</td>
                                <td>@user.Name</td>
                                <td>@user.UserEmail</td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" id="Id" name="Id" class="form-control" value="@user.Id">
                                        <input type="hidden" id="UserId" name="UserId" class="form-control" value="@user.UserId">
                                        <input type="hidden" id="Name" name="Name" class="form-control" value="@user.Name">
                                        <input type="hidden" id="UserEmail" name="UserEmail" class="form-control" value="@user.UserEmail">
                                        <input type="hidden" id="Password" name="Password" class="form-control" value="@user.Password">
                                        <input type="submit" class="btn btn-primary" asp-action="RedirectEditUser" asp-controller="User" value="&#128393;">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_@user.UserId">&#128465;</button>
                                    </form>
                                </td>
                            </tr>
                        }                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- DELETE MODAL -->
<!-- Modal -->
@foreach(var user in Model)
{
    <div class="modal fade" id="delete_@user.UserId" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete @user.Name?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-5 text-center">Are you sure you want to delete this User?</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-success mx-3" data-bs-dismiss="modal">Cancel</button>
                        <form asp-controller="User" asp-action="DeleteUser" method="post">
                            <input type="hidden" name="Id" id="Id" value="@user.Id" />
                            <input type="submit" name="delete" id="delete" value="Delete" class="btn btn-danger mx-3" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

