@using ShugyopediaApp.Services.ServiceModels;
@{
	ViewData["Title"] = "Training Categories";
}
@model List<TrainingCategoryViewModel>
<main>
    <div class="container-fluid">
        <h1 class="text-center">Training Categories</h1>
        <div class="d-flex justify-content-between">
            <a class="btn btn-success" asp-action="AddTrainingCategory" asp-controller="TrainingCategory">+Add Training Category</a>
        </div>
        <div class="card my-3">
            <div class="card-body">
                <table class="table table-striped table-hover table-borderless table-responsive text-center bg-light my-5" id="datatable">
                    <thead class="table-info my-3">
                        <tr>
                            <th>Category Name</th>
                            <th>Category Icon</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var category in (IEnumerable<TrainingCategoryViewModel>)Model)
                        {
                            <tr>
                                <td>@category.CategoryName</td>
                                <td style ="text-align: left;">@Html.Raw(category.CategoryIcon) <kbd><kbd>"@category.CategoryIcon"</kbd></kbd></td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" id="CategoryId" name="CategoryId" class="form-control" value="@category.CategoryId">
                                        <input type="hidden" id="CategoryName" name="CategoryName" class="form-control" value="@category.CategoryName">
                                        <input type="hidden" id="CategoryIcon" name="CategoryIcon" class="form-control" value="@category.CategoryIcon">
                                        <input type="submit" class="btn btn-primary" asp-action="Trainings" asp-controller="Training" value="View Trainings"><br>
                                        <input type="submit" class="btn btn-primary" asp-action="RedirectEditTrainingCategory" asp-controller="TrainingCategory" value="&#128393;">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal_@category.CategoryId">&#128465;</button>
                                    </form>                                    
                                </td>
                            </tr>
                        }                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
@* so dapat each modal kay naay unique id mao nang ako gi addan og @category.CategoryId *@
@foreach (var category in (IEnumerable<TrainingCategoryViewModel>)Model)
{
    <div class="modal fade" id="deleteModal_@category.CategoryId" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete @category.CategoryName?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-5 text-center">Are you sure you want to delete this Training Category?</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-success mx-3" data-bs-dismiss="modal">Cancel</button>
                        <form asp-controller="TrainingCategory" asp-action="DeleteTrainingCategory" method="post">
                            <input type="hidden" name="categoryId" id="categoryId" value="@category.CategoryId" />
                            <input type="submit" name="delete" id="delete" value="Delete" class="btn btn-danger mx-3" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    
